#animals, #view-list, #swamaInfo, #pugrillaInfo, #shorseInfo, #dorseInfo {
  display: none;
}
.container {
  margin-top: 30px;
  border: black dotted;
  background-color: white;
  max-height: 90%;
}
body {
  background-color: pink;
}
img {
  width: 70%;
}
select {
  max-width: 50%;
}
